body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #c7d433;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #35424a;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #c7d433;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
